---
- name: Apt update
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
    pkg:
      - curl
      # needed for longhorn
      - open-iscsi
      - nfs-common
      - cryptsetup
      - dmsetup
# uninstall firewall
- name: Remote ufw firewall
  ansible.builtin.apt:
    name: ufw
    state: absent
    purge: true

## fix ulimit for k8s
- name: Limits
  ansible.builtin.copy:
    src: files/limits_k8s.conf
    dest: '/etc/security/limits.d/k8s.conf'
    mode: '0644'

- name: Remove multipathd
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
    pkg:
      multipath-tools
    state: absent

- name: Check k3s version
  ansible.builtin.shell: |
    set -o pipefail
    k3s --version | grep '{{ k3s_version }}'
  args:
    executable: /usr/bin/bash
  register: k3s_version_already_installed
  failed_when: "k3s_version_already_installed.rc > 1"  # we only fail if the exit code is not 0 or 1 (even 1 is expected)
  changed_when: "k3s_version_already_installed.rc == 1"

## install k3s
- name: Install k3s  # noqa: no-changed-when
  args:
    executable: /usr/bin/bash
  ansible.builtin.shell: |
    set -o pipefail
    curl -fL https://get.k3s.io | \
      INSTALL_K3S_VERSION="{{ k3s_version }}" \
      K3S_KUBECONFIG_MODE="640" \
      INSTALL_K3S_EXEC="server \
      --cluster-cidr="{{ k3s_cluster_cidr | default('10.12.0.0/16') }}" \
      --disable-network-policy \
      --flannel-backend=none \
      --disable traefik \
      --disable local-storage \
      --disable metrics-server" sh -
  when: k3s_version_already_installed.rc == 1
  changed_when: "k3s_version_already_installed.rc == 1"

- name: Allow sudoer access to k3s config
  ansible.builtin.file:
    path: /etc/rancher/k3s/k3s.yaml
    owner: root
    group: sudo

## shutdown helper
- name: K3s shutdown helper
  ansible.builtin.copy:
    src: 'files/k3s-shutdown.service'
    dest: '/etc/systemd/system/k3s-shutdown.service'
    mode: '0644'

- name: Start k3s shutdown helper
  ansible.builtin.systemd_service:
    name: k3s-shutdown.service
    enabled: true
    daemon_reload: true


#### calicoctl
# https://docs.tigera.io/calico/latest/operations/calicoctl/install
- name: Download calicoctl
  ansible.builtin.get_url:
    url: https://github.com/projectcalico/calico/releases/download/v3.31.3/calicoctl-linux-amd64
    dest: /usr/local/bin/calicoctl-bin
    # curl -L https://github.com/projectcalico/calico/releases/download/v3.31.3/calicoctl-linux-amd64 | sha256sum
    checksum: sha256:dc920efee0045d352780c73cfdd3f6fbd6eab9fdb0675897095c755715a8fc8d
    mode: '0755'
    force: false

- name: Create kubeconfig folder for calicoctl
  ansible.builtin.file:
    path: '/root/.kube'
    mode: '0500'
    owner: root
    group: root
    state: directory
    force: false
    modification_time: preserve
    access_time: preserve

- name: Place cluster config so calicoctl can use it
  ansible.builtin.file:
    src: /etc/rancher/k3s/config.yaml
    dest: /root/.kube/config
    state: link

### longhornctl

- name: Download longhornctl
  ansible.builtin.get_url:
    url: https://github.com/longhorn/cli/releases/download/v1.10.1/longhornctl-linux-amd64
    dest: /usr/local/bin/longhornctl-bin
    # curl -L https://github.com/longhorn/cli/releases/download/v1.10.1/longhornctl-linux-amd64 | sha256sum
    checksum: sha256:955c7085b29594a1310ffc9f2ad35bc566a45ab664ccb042667d2129dbf6a3cd
    mode: '0755'
    force: false
  # this only works on servers due to the kubeconf

- name: Enable dm_crypt kernel modul for longhorn on agents
  community.general.modprobe:
    name: dm_crypt
    state: present
    persistent: present

- name: K3s uninstall tools
  ansible.builtin.copy:
    src: files/k3s-full-uninstall.sh
    dest: '/root/k3s-full-uninstall.sh'
    mode: '0700'

- name: Deploy k3s registries.yaml
  ansible.builtin.template:
    src: templates/k3s-registries.yaml.j2
    dest: '/etc/rancher/k3s/registries.yaml'
    owner: root
    group: sudo
    mode: '0640'
  when: k3s_docker_registry1_domain is defined

- name: crictl wrapper
  ansible.builtin.copy:
    src: files/bin/crictl
    dest: '/usr/local/bin/crictl'
    mode: '0770'

- name: etcdctl wrapper
  ansible.builtin.copy:
    src: files/bin/etcdctl
    dest: '/usr/local/bin/etcdctl'
    mode: '0770'

- name: kubectl wrapper
  ansible.builtin.copy:
    src: files/bin/kubectl
    dest: '/usr/local/bin/kubectl'
    mode: '0770'
  # this only works on servers due to the kubeconf

- name: etcdlogs wrapper
  ansible.builtin.copy:
    src: files/bin/etcdlogs
    dest: '/usr/local/bin/etcdlogs'
    mode: '0770'
  # this only works on servers

- name: calicoctl wrapper
  ansible.builtin.copy:
    src: files/bin/calicoctl
    dest: '/usr/local/bin/calicoctl'
    mode: '0770'
  # this only works on servers due to the kubeconf

- name: kubeapilogs wrapper
  ansible.builtin.copy:
    src: files/bin/kubeapilogs
    dest: '/usr/local/bin/kubeapilogs'
    mode: '0770'
  # this only works on servers
