---

- name: Add stable repository
  ansible.builtin.deb822_repository:
    name: stable
    types: deb
    uris: http://ftp.uni-stuttgart.de/debian
    components:
      - main
      - contrib
      - non-free
      - non-free-firmware
    suites: "{{ ansible_distribution_release }}"
    signed_by: "/usr/share/keyrings/debian-archive-{{ ansible_distribution_release }}-stable.pgp"
    state: present

- name: Add update repository
  ansible.builtin.deb822_repository:
    name: updates
    types: deb
    uris: http://ftp.uni-stuttgart.de/debian
    components:
      - main
      - contrib
      - non-free
      - non-free-firmware
    suites: "{{ ansible_distribution_release }}-updates"
    signed_by: "/usr/share/keyrings/debian-archive-{{ ansible_distribution_release }}-automatic.pgp"
    state: present

- name: Add security repository
  ansible.builtin.deb822_repository:
    name: security
    types: deb
    uris: http://security.debian.org/debian-security
    components:
      - main
    suites: "{{ ansible_distribution_release }}-security"
    signed_by: "/usr/share/keyrings/debian-archive-{{ ansible_distribution_release }}-security-automatic.pgp"
    state: present

- name: Override sources.list with blank
  ansible.builtin.copy:
    src: 'files/sources.list'
    dest: '/etc/apt/sources.list'
    owner: 'root'
    group: 'root'
    mode: '0644'

## cleanup
- name: Remove hetzner security list
  ansible.builtin.file:
    path: /etc/apt/sources.list.d/hetzner-security-updates.list
    state: absent

- name: Remove docker default list
  ansible.builtin.file:
    path: /etc/apt/sources.list.d/debian.list
    state: absent

- name: Remove legacy security list
  ansible.builtin.file:
    path: /etc/apt/sources.list.d/security.list
    state: absent
- name: Remove legacy update list
  ansible.builtin.file:
    path: /etc/apt/sources.list.d/updates.list
    state: absent
- name: Remove legacy update list
  ansible.builtin.file:
    path: /etc/apt/sources.list.d/stable.list
    state: absent
