---

- name: Add stable repository
  ansible.builtin.deb822_repository:
    repo: deb http://ftp.uni-stuttgart.de/debian {{ ansible_distribution_release }} main contrib non-free non-free-firmware
    state: present
    filename: stable
    update_cache: false

- name: Add update repository
  ansible.builtin.deb822_repository:
    repo: deb http://ftp.uni-stuttgart.de/debian {{ ansible_distribution_release }}-updates main contrib non-free non-free-firmware
    state: present
    filename: updates
    update_cache: false

# remove old entries
- name: Remove old stable repository
  ansible.builtin.deb822_repository:
    repo: deb http://ftp2.de.debian.org/debian {{ ansible_distribution_release }} main contrib non-free non-free-firmware
    state: absent
    filename: stable
    update_cache: false

# remove old entries
- name: Remove old update repository
  ansible.builtin.deb822_repository:
    repo: deb http://ftp2.de.debian.org/debian {{ ansible_distribution_release }}-updates main contrib non-free non-free-firmware
    state: absent
    filename: updates
    update_cache: false

- name: Add security repository
  ansible.builtin.deb822_repository:
    repo: deb http://security.debian.org/debian-security {{ ansible_distribution_release }}-security main
    state: present
    filename: security
    update_cache: false
- name: Override sources.list with blank
  ansible.builtin.copy:
    src: 'files/sources.list'
    dest: '/etc/apt/sources.list'
    owner: 'root'
    group: 'root'
    mode: '0644'

## cleanup
- name: Remove hetzner security list
  ansible.builtin.file:
    path: /etc/apt/sources.list.d/hetzner-security-updates.list
    state: absent

- name: Remove docker default list
  ansible.builtin.file:
    path: /etc/apt/sources.list.d/debian.list
    state: absent

- name: Remove legacy security list
  ansible.builtin.file:
    path: /etc/apt/sources.list.d/security.list
    state: absent
- name: Remove legacy update list
  ansible.builtin.file:
    path: /etc/apt/sources.list.d/update.list
    state: absent
- name: Remove legacy update list
  ansible.builtin.file:
    path: /etc/apt/sources.list.d/stable.list
    state: absent
