---

- name: Calculate ssh kex
  ansible.builtin.set_fact:
    sshd_kex_list: "sntrup761x25519-sha512@openssh.com"
  when: (ansible_distribution == 'Ubuntu' and (ansible_distribution_version == "22.04" or ansible_distribution_version == "24.04")) or (ansible_distribution == 'Debian' and ansible_distribution_release == "bookworm")

- name: Calculate ssh kex
  ansible.builtin.set_fact:
    sshd_kex_list: "mlkem768x25519-sha256,sntrup761x25519-sha512@openssh.com"
  when: (ansible_distribution == 'Ubuntu' and (ansible_distribution_version == "25.04" or ansible_distribution_version == "25.10")) or (ansible_distribution == 'Debian' and ansible_distribution_release == "trixie")

- name: Apt update
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
    pkg:
      - openssh-server

- name: Start sshd service
  ansible.builtin.systemd_service:
    name: ssh.service
    enabled: true
    daemon_reload: true

- name: SSH server config
  ansible.builtin.template:
    src: templates/sshd_config.j2
    dest: '/etc/ssh/sshd_config'
    owner: 'root'
    mode: '0644'
  notify: 'reload ssh service'

- name: Create fail2ban config folder
  ansible.builtin.file:
    path: "/etc/fail2ban"
    recurse: false
    owner: 'root'
    group: 'root'
    mode: '0500'
    state: directory

- name: Create fail2ban jail.d
  ansible.builtin.file:
    path: "/etc/fail2ban/jail.d"
    recurse: false
    owner: 'root'
    mode: '0500'
    state: directory

- name: Create fail2ban ssh config
  ansible.builtin.template:
    src: templates/ssh.jail.conf.j2
    dest: '/etc/fail2ban/jail.d/ssh.conf'
    owner: root
    group: root
    mode: '0440'

- name: Re-generate SSH host keys
  ansible.builtin.shell: |
    rm /etc/ssh/ssh_host_*
    ssh-keygen -t rsa -b 4096 -f /etc/ssh/ssh_host_rsa_key -N ""
    ssh-keygen -t ed25519 -f /etc/ssh/ssh_host_ed25519_key -N ""
    awk '$5 >= 3071' /etc/ssh/moduli > /etc/ssh/moduli.safe
    mv /etc/ssh/moduli.safe /etc/ssh/moduli
    touch /etc/ssh/.hardening032025
  args:
    creates: /etc/ssh/.hardening032025
    executable: /usr/bin/bash
